html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    position: relative;
    width: 100%;
    height:100%;
    body{
    height:100%;
    min-height: 100%;
    position:relative;
    }
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(90deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    75% {
        transform: rotateZ(270deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
@keyframes beep {
    0%{
        box-shadow: 0 0 0  rgb(29, 214, 118);
    }
    70%{
        box-shadow: 0 0 30px  rgba(29, 214, 119,1);
    }
    100%{
        box-shadow: 0 0 0 rgba(29, 214, 119,1);
    }
}
#root-container {
    position:relative;
    padding: 1.5em $gutter/2;
    padding-top: 0;
    background-color: $defaultWhite;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    h1 {
        z-index: 3;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: .2em .3em;
        background-color: darken($defaultPurple, 40%);
        color: $defaultWhite;
        font-weight: 400;
        width: 100%;
        span {
            display: block;
            font-size: .6em;
            font-weight: 300;
            padding-bottom:.2em;
            a{
                color:inherit;
                cursor:pointer;
                &:hover{
                    color:$defaultPurple;
                }
            }
        }
    }
    section#view {
        position:relative;
        // min-height: 80vh;
        padding-top: 8em;
    }
    nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        overflow: hidden;
        ul {
            list-style: none;
            padding: 0;
            height: auto;
            width: 100%;
            background-color: darken($defaultDark, 20%);
            background-color: darken($defaultPurple, 10%);
            overflow: hidden;
            margin: 0;
            transition: all .2s ease;
            button#expand-nav {
                border: none;
                outline: none;
                background-color: inherit;
                color: inherit;
                width: 100%;
                height: 100%;
            }
            li {
                width: 100%;
                a {
                    color: inherit;
                    text-decoration: none;
                    width: 100%;
                    height: 100%;
                    display: block;
                }
                background-color:$defaultDark;
                background-color:darken($defaultPurple, 40%);
                color:$defaultWhite;
                font-size: 1.5em;
                float:left;
                width:29%;
                height:1.5em;
                line-height:1.5em;
                vertical-align:middle;
                text-align:center;
                position:relative;
                border-right: solid 1px darken($defaultDark, 20%);
                cursor:pointer;
                &:first-child {
                    width: 13%;
                }
                &:not(:first-child) a:after {
                    color: white;
                    position: absolute;
                    bottom: 100%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    font-size: .7em;
                }
                &:nth-child(2) a:after {
                    content: "Main"
                }
                &:nth-child(3) a:after {
                    content: "Search"
                }
                &:nth-child(4) a:after {
                    content: "Watchlist"
                }
                &:nth-of-type(2) a.active {
                    border-top: solid 3px #D6631D;
                }
                &:nth-of-type(3) a.active {
                    border-top: solid 3px #1DD677;
                }
                &:nth-of-type(4) a.active {
                    border-top: solid 3px #8A45EA;
                }
            }
        }
        ul.expanded-nav {
            padding-top: 2em;
        }
    }
    #loader {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        min-height: 100%;
        overflow-y: hidden;
        z-index: 3;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $defaultWhite;
        aside {
            position: absolute;
            top: 50vh;
            color: $defaultWhite;
            font-size: 2em;
            #spinner {
                animation: spin 2s linear;
            }
            width:100%;
            text-align:center;
        }
    }
    #main-container{
        padding-top:3.8em;
        position:relative;
        h2{
            position: absolute;
            top:0;
            left:0;
            color:darken($defaultPurple,30%);
            font-weight:400;
        }
        main{
            display: flex;
            flex-direction:column;
            align-items: center;
            justify-content: center;
            ul{
                margin:3em auto;
                list-style: none;
                padding:0 1em;
                font-size: 1.5em;
                color:darken($defaultPurple, 30%);
                li{
                    margin:1em 0;
                    font-weight: 300;
                    a{
                        color:$defaultDark;
                        text-decoration: none;
                        font-weight:400;
                    }
                    a:active,
                    a:hover{
                        text-decoration:underline;
                    }
                }
            }
        }
    }
    #search-container{
        padding-top:3.8em;
        position:relative;
        h2#search-title{
            color:darken($defaultPurple,30%);
            font-weight:400;
            position: absolute;
            left:0;
            top:0;
        }
       aside#empty-search{
        font-size: 2em;
        color:darken($defaultWhite,8%);
       }
        aside.error-msg{
            text-align:center;
            padding:.2em .3em;
            color:rgb(158, 25, 17);
            
        }
       #searchbox-container{
           display: flex;
           justify-content: space-around;
           form{
               font-size: 1.2em;
               input{
                   border:solid 1px rgba(0,0,0,0.3);
               }
               button{
                   border:none;
                   background-color:$defaultPurple;
                   color:$defaultWhite;
                   padding:0.08em .4em;
                   padding-top:0.13em;
                   i{
                       transition: all .6s ease;
                   }
                   &:hover{
                       i{
                           transform:rotateY(180deg);
                       }
                   }
                   &:active{
                       background-color:darken($defaultPurple, 20%);
                   }
               }
           }
       }
    }
    #channels-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top:2em;
        div.channel {
            flex: 1;
            width: 100%;
            min-width: 270px;
            max-width: 270px;
            background-color: lighten($defaultWhite, 1%);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
            position: relative;
            margin: 1em;
            header {
                width: 100%;
                height: 250px;
                overflow: hidden;
                position: relative;
                button {
                    border: none;
                    outline: none;
                    background-color: $defaultDark;
                    color: $defaultWhite; // padding:.3em .4em;
                    font-size: 1.1em;
                    transition: all .5s ease-out;
                    cursor: pointer;
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
                    line-height: 2em;
                    height: 2em;
                    i {
                        font-size: 1.5em;
                        vertical-align: middle;
                    }
                }
                button.add-to-watch {
                    position: absolute;
                    top: 2em;
                    right: -8.0em;
                    background-color: rgb(29, 214, 119);
                    font-weight: 300;
                    width: 10em;
                    text-align: left;
                    &:hover {
                        right: 0;
                    }
                    &:active {
                        color: $defaultDark;
                    }
                }
                button.add-to-watch.added {
                    background-color: $defaultPurple;
                }
                button.visit-channel {
                    position: absolute;
                    top: 5em;
                    right: -6.1em;
                    background-color: rgb(214, 99, 29);
                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                    &:hover {
                        right: 0;
                    }
                    i {
                        margin-bottom: .1em;
                    }
                }
            }
            img {
                width: 100%;
                transition: all .6s ease;
                opacity: 0.8;
            }
            img:hover {
                transform: scale(1.1);
                opacity: 1;
            }
            h2.name {
                margin: 0;
                font-size: 1.2em;
                position: absolute;
                top: 11.5em;
                left: 0;
                width: 100%;
                padding: .2em .5em;
                background-color: rgba(0, 0, 0, 0.8);
                background: linear-gradient(to bottom, rgba(5, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
                color: $defaultWhite;
            }
            div.content {
                padding: .2em .3em;
                div.fol-and-views {
                    margin-top: .5em;
                    padding: 0 1.2em;
                    position: relative;
                    span {
                        display: inline-block;
                        width: 50%;
                    }
                    span:nth-of-type(2) {
                        text-align: right;
                    }
                }
                div.played-game {
                    margin-top: .5em;
                    padding: 0 1.2em;
                    position: relative;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    span {
                        margin-left: .4em;
                    }
                }
                div.language {
                    margin-top: .5em;
                    padding: 0 1.2em;
                    span {
                        margin-left: .4em;
                    }
                }
                p {
                    display: inline-block;
                    padding: 0 1.2em 0 3em;
                }
            }
        }
    }
    #watchlist-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        position:relative;
        min-height:70vh;
        padding-top:3.8em;
        padding-bottom:3em;
        h2#watchlist-title{
            
            position:absolute;
            top:0;
            left:0;
            color:darken($defaultPurple,30%);
            font-weight:400;            
        }
        aside#empty-watchlist{
            position: absolute;
            left: 50%;
            top:30%;
            transform:translate(-50%,-30%);
            font-size: 2em;
            color:darken($defaultWhite,8%);
            font-weight: bold;
            width:100%;
            text-align:center;
        }
        div.user {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-left: 1.5em;
            margin-right: 1.5em;
            background-color: lighten($defaultWhite, 10%);
            margin-top: .8em;
            margin-bottom: .8em;
            height: 15em;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
            position:relative;
            &.is-offline {
                border-bottom: solid .3em rgb(187, 83, 77);
            }
            &.is-online {
                border-bottom: solid .3em rgb(6, 224, 171);
                    animation: beep 2s ease-in infinite;
                
            }
            aside.updating{
                position: absolute;
                width:100%;
                height: 100%;
                background-color:rgba(0,0,0,0.6);
                font-size: 1.3em;
                color:$defaultWhite;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    animation: spin 2s linear;
                }
            }
            header.user-header {
                h2 {
                    margin: 0;
                    padding: .3em .5em;
                    text-align: center;
                    color: darken($defaultPurple, 40%);
                }
                img {
                    display:block;
                    width: 150px;
                    border-radius: 100%;
                    margin:0 auto;
                }
            }
            main.user-info {
                padding: .3em .5em;
                width: 11em;
                display: flex;
                flex-direction: column;
                align-items: space-around;
                background-color: darken($defaultPurple, 40%);
                color: darken($defaultWhite, 6%);
                position:relative;
                button.remove{
                    position:absolute;
                    top:0;
                    right:0;
                    background-color:transparent;
                    color:darken($defaultPurple,10%);
                    border:none;
                    padding:.2em .3em;
                    cursor:pointer;
                    &:hover{
                       color: darken($defaultWhite,10%);
                    }
                }
                p {
                    font-size: .9em;
                    margin: .5em 0;
                    span.online {
                        color: rgb(6, 224, 171);
                    }
                    span.offline {
                        color: rgb(187, 83, 77);
                    }
                }
                p.game-played {
                    display: flex;
                    justify-content: flex-start;
                    span.game-playing {
                        flex: 2;
                    }
                }
                p.preview,
                p.visit-channel {
                    text-align: center;
                    button {
                        border: none;
                        outline: none;
                        padding: .3em .5em;
                        background-color: darken($defaultPurple, 20%);
                        transition: all .3s ease;
                        border-radius: 99px;
                        color: $defaultWhite;
                        a {
                            color: inherit;
                            text-decoration: none;
                        }
                        &:hover {
                            background-color: rgb(187, 83, 77);
                        }
                        &:active {
                            box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
                            color: $defaultWhite;
                            background-color: rgb(6, 224, 171);
                        }
                    }
                }
             
            }
        }
    }
    .clearfix {
         :after {
            content: "";
            display: table;
            clear: both;
        }
    }
}